# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
dev.sqlite
dev.sqlite-journal
test.sqlite
test.sqlite-journal
config.json
npm-debug.log
/notes/
