{
	"database": {
		"hostname": "localhost",
		"database": "foo",
		"username": "bar",
		"password": "baz"
	},
	"firebase": {
		"name": "toitoidev",
		"secret": "<firebase secret goes here>",
		"tokenExpiry": 86400,
		"adminTokenExpiry": 31536000
	},
	"sessions": {
		"secret": "<session cookie secret goes here>",
		"cookieExpiry": 86400
	},
	"digitalOcean": {
		"secret": "<DO API key goes here>"
	},
	"mailgun": {
		"domain": "",
		"apiKey": "",
		"sender": ""
	},
	"recaptcha": {
		"secretKey": "<recaptcha secret key goes here>"
	},
	"hostedDomain": "example.com",
	"deploymentIp": "1.2.3.4",
	"cmsBase": "http://cms.example.com",
	"siteLaunched": false,
	"corsOrigin": "http://example.com",
	"listen": {
		"host": "0.0.0.0",
		"port": 3000
	},
	"emailSubjects": {
		"preLaunchWelcome": "Welcome to ExampleSite!",
		"postLaunchWelcome": "Welcome to ExampleSite!",
		"confirmEmail": "Please confirm your ExampleSite account"
	},
	"loginThrottling": {
		"failureLimits": {
			"captcha": 3,
			"ipBlock": 5,
			"userBlock": 20
		},
		"attemptExpiry": "30m"
	}
}